@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sassy+Frass&display=swap');

//variables
$primary-color: #1BAAB3;
$secondary-color: #B8F0F4;
$highlight-color: #FE968E;
$web-black: #130211;
$web-white: #FEFFFF;


*{
    font-family: 'Josefin Sans', sans-serif;  
    margin: 0;
    background-color: $web-black;
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: $web-black;
    
}
.loader {
    height: 50px;
    animation: spin 5000ms linear infinite;
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
}

.logo
{
    height: 30px;
    padding: 0px;
    margin: 10px;
    background-color: transparent;
    &:hover{
        animation: spin 5000ms linear infinite;
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
    }
    border-radius: 20px;
    box-shadow: 0.1em 0.1em 1em 0.1em rgba(255, 255, 255, 0.3);
}

.container {
    display: flex;
    margin-top: 2rem;
    width: 90%;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 2rem;      
    }
    .map-container {
        width: 80%;
        
        @media (max-width: 1024px) {
        width: 98%;           
        }
    }
    
    .sidebar {
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;       
            @media (max-width: 1024px) {
            width: fit-content;  
            }
    }
}


.header
{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    .title{

        @media (max-width: 1024px) {
            text-align: center; 
            margin-left: 0;   
        }
        color: $web-white;

    .sass {
            font-family: 'Sassy Frass', cursive;
            font-size: 75px;
            color: $highlight-color;
        }
    }   

    .subtitle{
        color: $web-white;     
        font-style: italic;
    }

    .sub-header
    {
        display: flex;
        align-items: center;        
        gap: 1rem; 
        margin-bottom: 1rem; 
        justify-content: center;
        @media (max-width: 1024px) {
            text-align: center; 
            margin-left: 2rem; 
           
        }
    }
}


%message-shared {
    padding: 1rem;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color:$web-white
    
}


.footer{
    color: $web-white;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    padding: 1rem;
    bottom: 0;
    background-color: transparent;

    .footer-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
    }

    
}
.github{    
    height: 30px;
    cursor: pointer;

    @keyframes pulse {
            0%{
                transform:scale(1);
                opacity: 1;
            }
            50% {
                transform:scale(1.1);
                opacity: 0.5;
            }
            100%{
                transform:scale(1);
                opacity: 1;
            }
    }
    &:hover{
        animation: pulse 1s linear infinite;   
    }
    border-radius: 20px;
    box-shadow: 0.1em 0.1em 1em 0.1em rgba(255, 255, 255, 0.3);
}

.loading {
    @extend %message-shared;
    color:$secondary-color;
}

.error {
    @extend %message-shared;
    color:red;
    position:fixed;
    z-index: 1;
}

.content{
    display: flex;
     align-items: center;
    justify-content: center;

    .world-map {
        position: relative;
        background-color: $web-black;
        z-index: 0;
        padding: 2rem;
        stroke: $secondary-color;
        stroke-width: 1;
        stroke-linecap: round;
        stroke-linejoin: round;
        border-radius: 10px;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em 0.3em rgba(255, 255, 255, 0.3);
        
        &__location {
            fill: $primary-color ;
            cursor: pointer;            
         transition: 0.1s ease-out;
            &:focus{
                fill: $highlight-color;
                stroke: $web-white;
                outline: 0;
            }
            &:hover {
                fill: $web-black;
                outline: 0;
                stroke: $web-white;
                z-index: 1;
            }
        }
    }
    
    .info-card {
    
        height: fit-content;
        background-color: $web-black;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap;
        border-radius: 5px;
        padding: 1rem;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(255, 255, 255, 0.3);
        color: $web-white;
        transition: 1s ease-in-out;
        
        &:hover{
             transform: scale(1.1)
             
        }

        .labels{
        font-weight: 900;
        color: $highlight-color;

        }

        .language {
            margin: 1rem;

        }
        .country-title {
            font-size: x-large;
            color: $secondary-color;

        }

    }

}





